<div class="flex items-center justify-center gap-4">
  <img alt="i18n-excel-manager-logo" class="h-10 w-10" height="487" ngSrc="/assets/images/png/logo.png" width="512" />
  <p class="text-i18n-light-green hidden text-xl sm:block">
    <span class="text-i18n-light-blue">i18n</span>-<span class="text-i18n-lighter-green">e</span>xce<span class="text-i18n-lighter-green"
      >l</span
    >-manager
  </p>
</div>
<nav>
  <ul class="flex gap-4">
    @for (link of SOCIAL_MEDIA_LINKS; track $index) {
      <li class="flex items-center justify-center" id="social-{{ link.name | lowercase }}">
        <a [href]="link.url" [title]="link.name" class="rounded border p-1" target="_blank">
          <fa-icon [icon]="link.faIcon" class="text-2xl" />
        </a>
      </li>
    }
  </ul>
</nav>
