<div class="flex items-center justify-center gap-4">
  <img alt="i18n-excel-manager-logo" class="h-10 w-10" height="487" ngSrc="/assets/images/png/logo.png" width="512" />
  <p class="text-i18n-light-green hidden text-xl sm:block">
    <span class="text-i18n-lighter-blue">i18n</span>-<span class="text-i18n-lighter-green">e</span>xce<span class="text-i18n-lighter-green"
      >l</span
    >-manager
  </p>
</div>
<div class="relative flex gap-4">
  <app-nav-social />
  <app-language-switch />
</div>
