@layer base {
  body {
    @apply bg-midnight text-i18n-white;
    font-family: var(--font-family-inter, system-ui, -apple-system, sans-serif), sans-serif;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  a[href] {
    @apply hover:underline;
  }

  app-header,
  app-footer {
    @apply container mx-auto flex items-center justify-between px-8 py-4;
  }

  #header {
    @apply border-b-i18n-light-blue/30 border-b;
  }

  #footer {
    @apply border-t-i18n-light-blue/30 border-t;
  }
}
