@layer base {
  body {
    @apply bg-midnight text-i18n-white;
    font-family: var(--font-family-inter, system-ui, -apple-system, sans-serif), sans-serif;
  }

  app-header,
  app-footer {
    @apply flex items-center justify-between px-8 py-4;
  }

  app-header {
    @apply border-b-i18n-light-blue/30 border-b;
  }

  app-footer {
    @apply border-t-i18n-light-blue/30 border-t;
  }
}
