@layer components {
  .btn {
    @apply w-fit cursor-pointer rounded-full px-4 py-2 text-xl font-medium transition-colors duration-200;
  }

  .btn-regular {
    @apply px-6 py-3 text-xl lg:px-8 lg:py-4 lg:text-2xl;
  }

  .btn-primary {
    @apply bg-midnight shadow-inset text-i18n-white;
  }
}
