@theme {
  --font-family-inter: 'Inter', system-ui, -apple-system, sans-serif;

  --color-midnight: #01030f;
  --color-i18n-white: #f9faf9;
  --color-i18n-blue: #256196;
  --color-i18n-light-blue: #d4dff1;
  --color-i18n-lighter-green: #5bad63;
  --color-i18n-light-green: #48a95a;
  --color-i18n-terminal-gray: #191a1c;

  --shadow-inset: inset rgba(250, 250, 250, 0.3) 0 0 4px 1px;
}
