<section class="grid w-full grid-cols-1 gap-8 p-6 text-white md:grid-cols-3">
  <div class="flex flex-col space-y-4">
    <p class="text-i18n-light-green hidden text-xl sm:block">
      <span class="text-i18n-lighter-blue">i18n</span>-<span class="text-i18n-lighter-green">e</span>xce<span
        class="text-i18n-lighter-green"
        >l</span
      >-manager
    </p>
    <p class="text-sm">
      Made with ❤️ by
      <a [href]="githubProfileUrl" target="_blank"
        >Mario Kreitz
        <fa-icon [icon]="faExt" />
      </a>
    </p>
  </div>
  <nav class="flex flex-col space-y-4">
    <h6 class="text-xl">{{ 'footer.quickLinks' | translate }}</h6>
    <ul class="space-y-2">
      @for (quickLink of githubQuickLinks; track $index) {
        <li>
          <a [href]="quickLink.url" target="_blank"
            >{{ quickLink.name }}
            <fa-icon [icon]="quickLink.faIcon" />
          </a>
        </li>
      }
    </ul>
  </nav>

  <p>
    Open Source • <a [href]="githubLicenseUrl">MIT License</a>
    <fa-icon [icon]="faExt" />
  </p>
</section>
