<button (click)="toggleMenuSelection()" class="border-i18n-white/30 rounded-full border px-4 py-2" type="button">
  <fa-icon [icon]="langIcon" class="text-xl" />
</button>

@if (isMenuOpen()) {
  <ul class="bg-midnight absolute top-16 right-0 z-30 flex flex-col">
    @for (lang of languages(); track $index) {
      <li
        [class.bg-i18n-lighter-green]="isCurrentLanguage()(lang)"
        class="hover:bg-i18n-lighter-green flex items-center justify-center px-2 py-1 transition-colors"
        id="lang-{{ lang | lowercase }}"
      >
        <button (click)="onSelectLang(lang)" type="button">{{ 'languageNames.' + lang | translate }}</button>
      </li>
    }
  </ul>
}
