<button (click)="toggleMenuSelection()" class="border-i18n-white/30 rounded-full border px-4 py-2" type="button">
  <fa-icon [icon]="langIcon" class="text-xl" />
</button>

@if (isMenuOpen()) {
  <ul
    (appClickOutside)="toggleMenuSelection()"
    class="bg-midnight border-i18n-lighter-blue/30 absolute top-15.5 right-0 z-30 flex flex-col overflow-hidden rounded-b-2xl border"
  >
    @for (lang of languages(); track $index) {
      <li
        [class.bg-i18n-lighter-green]="isCurrentLanguage()(lang)"
        class="hover:bg-i18n-lighter-green flex cursor-pointer items-center justify-center transition-colors"
        id="lang-{{ lang | lowercase }}"
      >
        <button (click)="onSelectLang(lang)" class="h-full w-full px-2 py-1" type="button">
          {{ 'languageNames.' + lang | translate }}
        </button>
      </li>
    }
  </ul>
}
